:root{
    --bg-color:#1f242d;
    --text-color:white;
    --main-color: #0ef;
    --second-color:#31353b;
    --color-bg: #;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    box-sizing: border-box; list-style: none;
    text-decoration: none;
    padding:0;   
    margin:0;
}
    @font-face {
        font-family: AhmedBold ;
        src: url(../public/Font/KayPhoDu-Bold.ttf);
        font-weight: 900;
    }@font-face {
        font-family: AhmedBold ;
        src: url(../public/Font/KayPhoDu-SemiBold.ttf);
        font-weight: 600;
    }
    @font-face {
        font-family: AhmedBold ;
        src: url(../public/Font/KayPhoDu-Medium.ttf);
        font-weight: normal;
    }
    @font-face {
        font-family: AhmedBold ;
        src: url(../public/Font/KayPhoDu-Regular.ttf);
        font-weight: 200;
    }

/* .App{
    background-color: var(--bg-color) !important;
    width:100% !important;
    color:var( --text-color) !important;
    scroll-behavior: smooth;
} */
/* .App-light{
    background-color:var(--text-color) !important;
    width:100% !important;
    color:var(--second-color);
    scroll-behavior: smooth;
} */
.imgAboutMe:hover{
    transform: rotate(15deg);
}
.bottomNavigation{
    transition:  2s !important;
    /* color:black; */
}
.bottomNavigation:hover{
opacity: 1;
border-radius:50%
}
.cartAboutMe{
    transition:  1s !important;
    opacity: 1;
}
.cartAboutMe:hover{
    background-color: transparent;
}


.cardEx{
    transition:  2s !important;
}
.cardEx:hover{
background-color: transparent;
border:0.5px solid #4db5ff;
}
.cardServ{
    transition: 1s !important;
}
.cardServ:hover{
    width: 450px;
    background-color: transparent;
    border:0.5px solid #4db5ff;
    }
.buttonPro{
    transition: 1s !important;  
}
.buttonPro:hover{
    background-color: silver !important;
    color:black;
}
.proCard{
    transition: 2s !important;  
}
.proCard:hover{
    background-color: transparent !important;
    border:0.5px solid #4db5ff;
}
.btnn{
    
    font-size: 1.6rem;
    letter-spacing: .1rem;
    color: #202124;
    font-weight: 600;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 0 1rem #0ef;
    cursor: pointer;
    transition: 0.5s ease;
}
.x:focus{
    background-color: black;
    color:red;
}

/* --------------------------------------------------- */
@media( max-width:606px ){
    .app{
        width:100% !important;
    }
    .header{
        height: 100vh;
    }
    .navBar {
        width: 100%;
    } 
    .aboutmeBox{
        flex-direction: column;
    }
    #DivimgAbout{
        width: 270 !important;
        height: 270 !important;
    }
    #imgAboutMe{
        width: 270 !important;
        height: 270 !important;
    }
    .headerIMG{
        height:400px !important;
        border-top-right-Radius:130px !important;
        border-top-left-radius:130px !important;
    }
    .footer{
        background-color: red;
    }
    #exCardd{
        padding: 20px;
    }
    .INP{
        width: 350px !important;
    }
    .ConCardBox{
        flex-direction: row !important;
       
    }
    .cartAboutMe{
        width: 150px !important;
        height: 150px !important;;
    }
    .cardServ{
        width:92% !important;
    }
    .cardEx{
        width:335px !important;
    }
    .headerIMG{
        margin-bottom: 55px !important;
    }
    .navBar {
        width: 98% !important;
    } 
    .hamada{
        bottom: 250px;
    }
    
    }
@media( max-width:429px ){
        .header{
            height: 100%;
        }
        .navBar {
            width: 98% !important;
        } 
        .app{
            width:100% !important;
        }
        #DivimgAbout{
            width: 230px !important;
        height: 230px !important;
        }
        #imgAboutMe{
            width: 230px !important;
            height: 230px !important;
        }
        .INP{
            width: 330px !important;
        }
        .header{
            height: 100%;
        }
        .headerIMG{
            margin-bottom: 55px !important;
        } .hamada{
            bottom: 250px;
        }
        #exCardd{
            padding: 10px;
        }
}
@media( max-width:370 ){
        .navBar {
            width: 98% !important;
        } 
        .app{
            width:100% !important;
        }
        .headerIMG{
            margin-bottom: 55px !important;
        } 
        .hamada{
            bottom: 250px;
        }
}
