:root{
    --bg-color:#1f242d;
    --text-color:white;
    --main-color: #0ef;
    --second-color:#31353b;
    --color-bg: #;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    box-sizing: border-box; list-style: none;
    text-decoration: none;
    padding:0;   
    margin:0;
}
@font-face {
    font-family: AhmedBold ;
    src: url(../public/Font/KayPhoDu-Bold.ttf);
    font-weight: 900;
  }@font-face {
    font-family: AhmedBold ;
    src: url(../public/Font/KayPhoDu-SemiBold.ttf);
    font-weight: 600;
  }
  @font-face {
    font-family: AhmedBold ;
    src: url(../public/Font/KayPhoDu-Medium.ttf);
    font-weight: normal;
  }
  @font-face {
    font-family: AhmedBold ;
    src: url(../public/Font/KayPhoDu-Regular.ttf);
    font-weight: 200;
  }

.App{
    background-color: #253546 !important;
    /* #253546 !important; */
    /* #1f1d36; */
    color:var(--text-color);
    scroll-behavior: smooth;
}

.imgAboutMe:hover{
    transform: rotate(15deg);
}
.bottomNavigation{
    transition:  2s !important;
    /* color:black; */
}
.bottomNavigation:hover{
opacity: 1;
border-radius:50%
}
.cartAboutMe{
    transition:  1s !important;
    opacity: 1;
}
.cartAboutMe:hover{
    background-color: transparent;
}
/*  */
.App{
    background-color: var(--bg-color) !important;
    color:var( --text-color) !important;
    /* letter-spacing: 1px; */
}
.cardEx{
    transition:  2s !important;
}
.cardEx:hover{
background-color: transparent;
border:0.5px solid #4db5ff;
}
.cardServ{
    transition: 1s !important;
}
.cardServ:hover{
    width: 600px;
    background-color: transparent;
    }
.buttonPro{
    transition: 1s !important;  
}
.buttonPro:hover{
    background-color: silver !important;
    color:black;
    scale:1.05;
}
.proCard{
    transition: 2s !important;  
    /* height: 500px; */
}
.proCard:hover{
    background-color: transparent !important;
    border:0.5px solid #4db5ff;
}
footer{
    background-color: #313740;
    margin-top: 35px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnn{
    
    font-size: 1.6rem;
    letter-spacing: .1rem;
    color: #202124;
    font-weight: 600;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 0 1rem #0ef;
    cursor: pointer;
    transition: 0.5s ease;
}
.btnn:hover{
    color:aliceblue;
    scale: 1.04;
}
.pa{
    font-size: 20px;
}