:root{
    --bg-color:#1f242d;
    --text-color:white;
    --main-color: #0ef;
    --second-color:#31353b;
    --color-bg: #;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    box-sizing: border-box; list-style: none;
    text-decoration: none;
    padding:0;   
    margin:0;
}
@font-face {
    font-family: AhmedBold ;
    src: url(../public/Font/KayPhoDu-Bold.ttf);
    font-weight: 900;
  }@font-face {
    font-family: AhmedBold ;
    src: url(../public/Font/KayPhoDu-SemiBold.ttf);
    font-weight: 600;
  }
  @font-face {
    font-family: AhmedBold ;
    src: url(../public/Font/KayPhoDu-Medium.ttf);
    font-weight: normal;
  }
  @font-face {
    font-family: AhmedBold ;
    src: url(../public/Font/KayPhoDu-Regular.ttf);
    font-weight: 200;
  }

.App{
    background-color: #253546 !important;
    /* #253546 !important; */
    /* #1f1d36; */
    color:var(--text-color);
    scroll-behavior: smooth;
}

.imgAboutMe:hover{
    transform: rotate(15deg);
}
.bottomNavigation{
    transition:  2s !important;
    /* color:black; */
}
.bottomNavigation:hover{
opacity: 1;
border-radius:50%
}
.cartAboutMe{
    transition:  1s !important;
    opacity: 1;
}
.cartAboutMe:hover{
    background-color: transparent;
}
/*  */
.App{
    background-color: var(--bg-color) !important;
    color:var( --text-color) !important;
    /* letter-spacing: 1px; */
}
.cardEx{
    transition:  2s !important;
}
.cardEx:hover{
background-color: transparent;
border:0.5px solid #4db5ff;
}
.cardServ{
    transition: 1s !important;
}
.cardServ:hover{
    width: 400px;
    background-color: transparent;
    border:0.5px solid #4db5ff;
    }
.buttonPro{
    transition: 1s !important;  
}
.buttonPro:hover{
    background-color: silver !important;
    color:black;
    /* scale:1.05; */
}
.proCard{
    transition: 2s !important;  
    /* height: 500px; */
}
.proCard:hover{
    background-color: transparent !important;
    border:0.5px solid #4db5ff;
}

.btnn{
    
    font-size: 1.6rem;
    letter-spacing: .1rem;
    color: #202124;
    font-weight: 600;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 0 1rem #0ef;
    cursor: pointer;
    transition: 0.5s ease;
}
.x:focus{
    background-color: black;
    color:red;
}
/* .x-selected{
    background-color: black;
    color:red;
} */



/* --------------------------------------------------- */
@media( max-width:606px ){
    .aboutmeBox{
            flex-direction: column;
    }
    #DivimgAbout{
        width: 270 !important;
    height: 270 !important;
        /* background-color: green !important; */
    }
    #imgAboutMe{
        width: 270 !important;
        height: 270 !important;
            /* background-color: green !important; */
    }
    .DivimgAbout{
        /* background-color: red !important; */
    }
    .headerIMG{
        height:400px !important;
        border-top-right-Radius:130px !important;
        border-top-left-radius:130px !important;
    }
    .footer{
        background-color: red;
    }
    #exCardd{
        width: 400px; ;
        /* background-color: green; */

    }
    .INP{
        width: 350px !important;
    }
    .ConCardBox{
        flex-direction: row !important;
    }
    /* #ofay{
        margin-left:10px;
    } */
    .cartAboutMe{
        width: 150px !important;
        height: 150px !important;;
    }
    }

    @media( max-width:404px ){
        #DivimgAbout{
            width: 230px !important;
        height: 230px !important;
            /* background-color: green !important; */
        }
        #imgAboutMe{
            width: 230px !important;
            height: 230px !important;
                /* background-color: green !important; */
        }
        .DivimgAbout{
            /* background-color: red !important; */
        }
        #exCardd{
            width: 350px; 
            /* background-color: green; */
    
        }
        .INP{
            width: 330px !important;
        }
    }

    
